
.podcasts-container {
    width: 100%;
    height: 100vh;
    padding: auto;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: scroll;
    position: relative;
  }
  
  .podcasts-boxes {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .podcasts-box {
    position: relative;
    width: 150px;
    height: 150px;
    color: black;
    padding: 3px;
    margin: 15px 10px;
    box-shadow: rgba(99, 127, 95, 0.35) 0px 5px 15px;
    color: white;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .podcasts-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 0.3s ease;
  }
  
  .podcasts-box:hover{
    transform: scale(1.1);
  }
  .podcasts-box:hover .overlay {
    opacity: 1;
  }
  
  .podcasts-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .podcasts-box .overlay a {
    color: #fff;
    font-size: 40px;
    margin-top: -10px;
  }
  
  .podcasts-box h3 {
    font-size: 13px;
    font-weight: bold;
  }
  
  .podcasts-box p {
    font-size: 10px;
  }